<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>books</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      tr:nth-child(even) {
        background-color: #D6EEEE;
      }
      .container {
        display: flex;    /* This makes the container a flex container */
      }
      .form-section {
        width: 20%;      /* Takes 20% of the container width */
        padding: 10px;
      }
      .table-section {
          width: 80%;      /* Takes 80% of the container width */
          padding: 10px;
      }
      input[type="text"], input[type="number"] {
          width: 95%;
          margin-bottom: 10px;
      }
    </style>
</head>
<body>
  <div class="container">
    <div class="form-section">
      {% if page_uri == 'books' %}
      <form action="{{ url_for('books.index') }}" method="post">

        <label for="title">Title of the Book:</label><br>
        <input type="text" id="title" name="title" value="{{ request.form['title'] }}"><br>

        <label for="authors">Name of the Author:</label><br>
        <input type="text" id="authors" name="authors" value="{{ request.form['authors'] }}"><br>

        <input type="submit" name="action" value="Search"><br>
      </form>
      <form action="{{ url_for('books.index') }}" method="post">

        <label for="isbn">Book ID:</label><br>
        <input type="text" id="bookID" name="bookID" value="{{ request.form['bookID'] }}"><br>

        <label for="publisher">Quantity:</label><br>
        <input type="number" id="quantity" name="quantity" value="{{ request.form['quantity'] }}"><br>

        <input type="submit" name="action" value="Update"><br>
      </form>
      {% endif %}
      {% if page_uri == 'books_import' %}
      <form action="{{ url_for('books.import_books') }}" method="post">

        <label for="nbooks">Number of Books to import:</label><br>
        <input type="number" id="nbooks" name="nbooks" value="{{ request.form['nbooks'] }}"><br>

        <label for="title">Title of the Book:</label><br>
        <input type="text" id="title" name="title" value="{{ request.form['title'] }}"><br>

        <label for="authors">Name of the Author:</label><br>
        <input type="text" id="authors" name="authors" value="{{ request.form['authors'] }}"><br>

        <label for="isbn">ISBN:</label><br>
        <input type="text" id="isbn" name="isbn" value="{{ request.form['isbn'] }}"><br>

        <label for="publisher">Publisher:</label><br>
        <input type="text" id="publisher" name="publisher" value="{{ request.form['publisher'] }}"><br>

        <label for="page">Page No:</label><br>
        <input type="number" id="page" name="page" value="{{ request.form['page'] }}"><br>

        <input type="submit" name="action" value="Search">
        <input type="submit" name="action" value="Import"><br>
      </form>
      {% endif %}
      {% if page_uri == 'members' %}
      <form action="{{ url_for('members.index') }}" method="post">

        <label for="name">Name of the Member:</label><br>
        <input type="text" id="name" name="name" value="{{ request.form['name'] }}" required><br>

        <input type="submit" name="action" value="Add">

      </form>
      <form action="{{ url_for('members.index') }}" method="post">

        <label for="member_id">ID:</label><br>
        <input type="text" id="member_id" name="member_id" value="{{ request.form['member_id'] }}" required><br>

        <input type="submit" name="action" value="Delete"><br>

      </form>
      {% endif %}
      {% if page_uri == 'issues' %}
      <form action="{{ url_for('issues.index') }}" method="post">
        
        <label for="member_id">Member ID:</label><br>
        <input type="text" id="member_id" name="member_id" value="{{ request.form['member_id'] }}" required><br>

        <label for="bookID">Book ID:</label><br>
        <input type="text" id="bookID" name="bookID" value="{{ request.form['bookID'] }}" required><br>

        <label for="quantity">Quantity:</label><br>
        <input type="number" id="quantity" name="quantity" value="{{ request.form['quantity'] }}" required><br>

        <input type="submit" name="action" value="Issue">
        <input type="submit" name="action" value="Return"><br>
      </form>
      {% endif %}
    </div>
    {% if books %}
    <div class="table-section">
      <table style="width:95%">
        <tr>
          <th>bookID</th>
          <th>title</th>
          <th>authors</th>
          <th>average_rating</th>
          <th>isbn</th>
          <th>isbn13</th>
          <th>language_code</th>
          <th>ratings_count</th>
          <th>text_reviews_count</th>
          <th>publication_date</th>
          <th>publisher</th>
          <th>num_pages</th>
          {% if page_uri != 'books_import' %}
          <th>quantity</th>
          {% endif %}
        </tr>
        {% for book in books %}
        <tr>
          <td>{{ book.bookID }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.authors }}</td>
          <td>{{ book.average_rating }}</td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.isbn13 }}</td>
          <td>{{ book.language_code }}</td>
          <td>{{ book.ratings_count }}</td>
          <td>{{ book.text_reviews_count }}</td>
          <td>{{ book.publication_date }}</td>
          <td>{{ book.publisher }}</td>
          {% if page_uri == 'books_import' %}
          <td>{{ book.get('  num_pages') }}</td>
          {% else %}
          <td>{{ book.num_pages }}</td>
          <td>{{ book.quantity }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}
    {% if members %}
    <div class="table-section">
      <table style="width:95%">
        <tr>
          <th>Member ID</th>
          <th>Name</th>
          <th>Debt</th>
        </tr>
        {% for member in members %}
        <tr>
          <td>{{ member.member_id }}</td>
          <td>{{ member.name }}</td>
          <td>{{ member.debt }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}
    {% if issues %}
    <div class="table-section">
      <table style="width:95%">
        <tr>
          <th>ID</th>
          <th>Book ID</th>
          <th>Member ID</th>
          <th>Quantity</th>
        </tr>
        {% for book in issues %}
        <tr>
          <td>{{ book.id }}</td>
          <td>{{ book.bookID }}</td>
          <td>{{ book.member_id }}</td>
          <td>{{ book.quantity }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}
    {% if transactions %}
    <div class="table-section">
      <table style="width:95%">
        <tr>
          <th>ID</th>
          <th>Book ID</th>
          <th>Member ID</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
          <td>{{ transaction.id }}</td>
          <td>{{ transaction.bookID }}</td>
          <td>{{ transaction.member_id }}</td>
          <td>{{ transaction.quantity }}</td>
          <td>{{ transaction.action }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
  </div>
</body>
</html>